body {
  font-family: 'Roboto', sans-serif;
  color: #333; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #555; 
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

li {
  margin-bottom: 5px;
}

.container {

  margin-top: 64px;
  padding: 20px;
}

.form-container {
  max-width: 400px !important;
  padding: 20px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  background-color: #f9f9f9 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  margin-top: 5%;
}

.form-title {
  text-align: center !important;
  margin-bottom: 20px !important;
}

.form-input {
  width: 90% !important;
  margin-top: 10px !important;
  margin-bottom: 16px !important;
}

.form-button {
  margin-top: 20px !important;
  width: 100%!important;
  display: flex!important;
  justify-content: space-between !important;
}

#root {
  display: flex;
  justify-content: center;
}

.container{
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  background-color: #f9f9f9 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.main-button{
  margin-top: 20px !important;
}

input[type="datetime-local"]::-webkit-datetime-edit-text {
  color: #555;
}